html {
    background-color: black;
    background: url(1.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
      
body{
}
        
#name {
    position:relative;
    max-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    //border: 4px solid rgba(255, 255, 255, 0.1);
}

#portfolio{
    position: absolute;
    max-width: 18%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    //border: 4px solid rgba(255, 255, 255, 0.1);
}


#blog{
    position: absolute;
    max-width: 18%;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    //border: 4px solid rgba(255, 255, 255, 0.1);
}


#games{
    position: absolute;
    max-width: 18%;
    top: 50%;
    left: 50%;
    transform: translate(150%, 50%);
    //border: 4px solid rgba(255, 255, 255, 0.1);
}


#bio{
    position: absolute;
    max-width: 18%;
    top: 50%;
    left: 50%;
    transform: translate(-150%, 50%);
    //border: 4px solid rgba(255, 255, 255, 0.1);
}

#contact{
    position: absolute;
    max-width: 18%;
    top: 50%;
    left: 50%;
    transform: translate(-250%, 50%);
    //border: 4px solid rgba(255, 255, 255, 0.1);
}

